%nav
  %ul
    %li
      %a(href="#work" title="What I do and for whom") Work
    %li
      %a(href="#work" title="What I do and for whom") Work
    %li
      %a(href="#work" title="What I do and for whom") Work