body.index
  header
    padding-bottom: 2em
  background: $gray-3
  // blog?
    background: $white url('/images/layout/shared/bg.jpg')
    #container
      background: $white
      padding: 0 10em

  article
    padding: 0 0.75em
    border-top: 1px solid $gray-3

    header
      h2
        color: $purple-2
        font-size: 2em
        text-align: center
        +custom-display(thin)
