---
layout: false
title: All posts
---
!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title {{ page.title }} | Polarblau

    %meta(content="Full stack software solutions for the open web" name="description")
    %meta(content="Polarblau" name="author")
    %meta(content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport")

    %script(src="http://use.typekit.com/dzs0feh.js")
    :javascript
      try { Typekit.load(); } catch(e) {};

    %link(href="/stylesheets/screen.css" rel="stylesheet")

  %body(class="posts")
    #container
      %header#header
        %h1
          %a(href="/" title="Home")
            Polarblau

      #main(role="main")
        %article
          %header
            %h2 {{ page.title }}
          %ul.posts
            == {% for post in site.posts %}
            %li
              %a{:href => "{{ post.url }}"}
                %strong
                  == {{ post.title }}
                %span.date
                  == {{ post.date | date_to_string }}
            == {% endfor %}

      %footer#footer
        %a(rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/")
          %img(alt="Creative Commons License" src="/images/layout/footer/cc.png" width="66" height="20")
        Copy to learn.

