---
layout: default
body_class: index
title: Polarblau
---

%article

  %section.about
    %h3 Polarblau
    .description
      %p
        Polarblau is a tiny software shop run by Florian Plank.
        He has been helping a wide variety of clients from
        global heavy industry to small local start&ndash;up
        to build better software.

  %section.clients
    %h3 Clients
    .description
      %p
        Polarblau has served a wide variety of clients
        as contractor and subcontractor through-out the years.
        Recent examples include
      %figure
        %ul
          - %w(fusion nokia fjord ikea).each do |client|
            %li
              %span
                %img(src="/images/content/client_logos/#{client}.png" alt="Client logo: #{client.upcase}")

  %section.colophon
    %h3 Contact
    .description
      %p
        Polarblau has served a wide variety of clients
        %a() Foo
        as contractor and subcontractor through-out the years.
        Recent examples include




