%section#work
  %header.wrapper
    %h3 Work
  .col.wrapper
    %p Through&ndash;out the years I had the pleasure of working with companies from the heavy industry sector to the B2C market. 
  %ul.client-logos
    - %w(ikea hookie typolar finlux outotec ikea ikea ikea ikea ikea).each do |client|
      %li
        %img(src="images/content/work/logos/#{client}.png" alt="Client logo: #{client.humanize}")