.clearfix, .clear {
  display: inline-block;
  display: block; }
  .clearfix:after, .clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]), [hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  color: #222222; }

button, input, select, textarea {
  font-family: sans-serif;
  color: #222222; }

::-moz-selection, ::selection {
  background: #8266a3;
  color: white;
  text-shadow: none; }

a {
  color: #0000ee; }
  a:visited {
    color: #551a8b; }
  a:hover {
    color: #0066ee; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 85%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure, form {
  margin: 0; }

figure {
  position: relative; }
  figure img, figure object, figure embed, figure video {
    max-width: 100%;
    display: block; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/**
 **  Golden Grid System (1.01)	<http://goldengridsystem.com/>
 **  by Joni Korpi 				<http://jonikorpi.com/>
 **  licensed under MIT			<http://opensource.org/licenses/mit-license.php>
 ** */
/**
 **  Margin, padding, and border resets
 **  except for form elements
 ** */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

/**
 **  Consistency fixes
 **  adopted from http://necolas.github.com/normalize.css/
 ** */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

button, html input[type="button"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 **  Simple fluid media
 ** */
figure {
  position: relative; }
  figure img, figure object, figure embed, figure video {
    max-width: 100%;
    display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

a {
  color: #8266a3;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  -webkit-transition-property: color;
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: color;
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: color;
  -o-transition-duration: 500ms;
  -o-transition-timing-function: ease-in;
  text-decoration: none; }
  a:visited {
    color: #8266a3; }
  a:hover, a:active, a.active, a:hover:visited {
    color: #49227a; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: museo-sans-1, museo-sans-2, sans-serif;
  font-weight: 400;
  font-style: normal; }

h1 {
  margin: 0.923em 0 1.385em;
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em; }

h2 {
  margin: 0.923em 0 1.385em;
  font-weight: normal;
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em; }

h3 {
  font-variant: small-caps;
  text-transform: lowercase;
  font-family: museo-sans-1, museo-sans-2, sans-serif;
  font-weight: 700;
  font-style: normal; }

p {
  font-family: adelle-1, adelle-2, serif;
  font-weight: 300;
  font-style: normal;
  color: #464451; }

.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fcfcfc; }
  body header .wrapper {
    text-align: center;
    border-bottom: 1px solid #e0e0e0; }
    body header .wrapper h1 img {
      margin-right: -10px;
      width: 100px; }
  body header nav {
    text-align: center;
    padding: 0.5em 0;
    display: none; }
    body header nav ul li {
      display: inline;
      padding: 0 1em; }
      body header nav ul li a {
        font-family: museo-sans-1, museo-sans-2, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #999999;
        font-variant: small-caps;
        font-size: 1.1em;
        text-shadow: 0 1px 0 white; }
        body header nav ul li a:visited {
          color: #999999; }
  body #main .box {
    background: #fcfcfc;
    border: 1px solid #e0e0e0; }
  body #main .box {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    body #main .box h2 {
      margin: 0; }
  body #main .invert {
    background: #0f0c2d;
    color: #edeff3; }
  body #work ul.client-logos {
    list-style: none; }
    body #work ul.client-logos li {
      text-align: center;
      display: block;
      float: left; }

/**
 **  Four-column grid active
 **  ----------------------------------------
 **  Margin   | #  1   2   3   4   |   Margin
 **  5.55555% | %  25  50  75  100 | 5.55555%
 ** */
/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; }
    body header#header, body #main {
      margin: 0 5.556%; }
    body header nav {
      display: block; } }
/**
 **  Eight-column grid active
 **  ----------------------------------------------------------------------
 **  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
 **  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
 **	
 ** */
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em; }
    body #header .wrapper {
      padding-top: 2.4em;
      padding-bottom: 1em; }
    body #header h1 img {
      width: 160px; }
    body #work header, body #work .col {
      margin-bottom: 1em; }
    body #work ul.client-logos {
      margin: 0 6.25%; }
      body #work ul.client-logos li {
        width: 18.75%; } }
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; } }
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em; } }
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; }
    body #header h1 img {
      width: 260px; }
    body #work .col {
      width: 25%;
      float: left;
      border-right: 1px solid #e0e0e0; }
    body #work ul.client-logos {
      margin: 0; }
      body #work ul.client-logos li {
        width: 12.5%;
        margin-bottom: 1em; } }
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em; } }
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; } }
/**
 **  Sixteen-column grid active
 **  ----------------------------------------------------------------------------------------------------------------------
 **  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
 **  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
 **	
 ** */
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  header#header {
    margin: 0 5.556%; } }
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size: 1.125em;
    max-width: 160em; } }
