#header
  text-align: center
  border-bottom: 1px solid $gray-2

  h1
    margin: 2em 0 1.5em 0
    img
      width: 124px !important
      height: 62px !important

  +respond-to(tablet-lite)
    h1
      margin: 1.5em 1em 0

  +respond-to(tablet-portrait)
    margin: 0
    h1
      margin: 2.5em 0 1em 0
