// General styles

h1
  margin: 0.9230769230769231em 0 1.3846153846153846em

h2
  margin: 0.9230769230769231em 0 1.3846153846153846em
  font-weight: normal

h3
  margin: 1.5em 0 1.5em
  

// Elastic gutters
.wrapper
  padding: 0 0.75em
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

// ---

body
  +image("shared/bg.jpg", repeat)

header
  .wrapper
    padding: 1em 0
    text-align: center
    +box-shadow(0, 1px, 2px, transparentize($black, 0.75))
    +linear-gradient($white, $blue-1)
  
    h1
      margin: 0
  
  nav
    background: transparentize($black, 0.5)
    
    ul
      li
        a
          display: block
          text-align: center