/*
Syntax error: Undefined variable: "$purple-2".
        on line 53 of /Users/flopster/projects/polarblau.com/stylesheets/modules/typography.sass

48:   font-size: 6.875em
49:   line-height: 1.0909090909090908em
50: 
51: // Links
52: a
53:   color: $purple-2
54:   +transition(color)
55:   text-decoration: none
56:   &:visited
57:     color: $purple-2
58:   &:hover, &:active, &.active, &:hover:visited

Backtrace:
/Users/flopster/projects/polarblau.com/stylesheets/modules/typography.sass:53
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/script/variable.rb:50:in `_perform'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/script/node.rb:40:in `perform'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:214:in `visit_prop'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:234:in `visit_rule'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/engine.rb:247:in `render'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/sass-3.1.10/lib/sass/plugin/rack.rb:51:in `call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/lint.rb:48:in `_call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/lint.rb:36:in `call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/showexceptions.rb:24:in `call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/commonlogger.rb:20:in `call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/chunked.rb:41:in `call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/content_length.rb:14:in `call'
/Users/flopster/.rvm/gems/ruby-1.9.2-p290@polarblau.com/gems/rack-1.3.5/lib/rack/handler/webrick.rb:59:in `service'
/Users/flopster/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/flopster/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/flopster/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$purple-2\".\A         on line 53 of /Users/flopster/projects/polarblau.com/stylesheets/modules/typography.sass\A \A 48:   font-size: 6.875em\A 49:   line-height: 1.0909090909090908em\A 50: \A 51: // Links\A 52: a\A 53:   color: $purple-2\A 54:   +transition(color)\A 55:   text-decoration: none\A 56:   &:visited\A 57:     color: $purple-2\A 58:   &:hover, &:active, &.active, &:hover:visited"; }
