.clearfix, .clear {
  display: inline-block;
  display: block; }
  .clearfix:after, .clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
