@font-face
  font-family: 'Junction'
  src: url('/fonts/Junction-webfont.eot?') format('eot'), url('/fonts/Junction-webfont.woff') format('woff'), url('/fonts/Junction-webfont.ttf') format('truetype')

// custom fonts
  =custom-serif($weight: light)
    font-family: 'Bitter', serif
    @if $weight == bold
      font-weight: 700
    @else
      font-weight: 400
//
  =custom-serif-italic
    +custom-serif(light)
    font-style: italic
//
  =custom-sans
    font-family: 'Junction'
//
  =custom-sans-lato($weight: normal)
    font-family: 'Lato', sans-serif
    @if $weight == book
      font-weight: 300
    @else if $weight == normal
      font-weight: 400
    @else if $weight == bold
      font-weight: 700
    @else if $weight == ultra-bold
      font-weight: 900
//
  =custom-sans-italic($weight: normal)
    +custom-sans($weight)
    font-style: italic

=custom-body($weight: regular, $style: normal)
  font-family: 'pt-sans', 'Helvetica', sans-serif
  @if $weight == regular
    font-weight: 400
  @else if $weight == bold
    font-weight: 700
  font-style: $style

=custom-display($weight: black, $style: italic)
  font-family: 'ff-enzo-web', 'Helvetica', sans-serif
  @if $weight == thin
    font-weight: 100
  @else if $weight == light
    font-weight: 300
  @else if $weight == bold
    font-weight: 700
  @else if $weight == black
    font-weight: 900
  font-style: $style

=custom-mono($weight: regular, $style: normal)
  font-family: 'ubuntu-mono', 'Monaco', mono-space
  @if $weight == regular
    font-weight: 400
  @else if $weight == bold
    font-weight: 700
  font-style: $style


body
  /* 16px / 24px
  font-size: 1em
  line-height: 1.5em
  color: $gray-1
  +custom-body

  +respond-to(small)
    font-size: 0.9em

  +respond-to(medium)
    font-size: 1em

  +respond-to(large)
    font-size: 1.1em

// size mixins
=small
  /* 13px / 18px
  font-size: 0.8125em
  line-height: 1.3846153846153846em

=normal
  /* 16px / 24px
  font-size: 1em
  line-height: 1.5em
  /* 24

=large
  /* 26 / 36px
  font-size: 1.625em
  line-height: 1.3846153846153846em

=huge
  /* 42px / 48px
  font-size: 2.625em
  line-height: 1.1428571428571428em

=massive
  /* 68px / 72px
  font-size: 4.25em
  line-height: 1.0588235294117647em

=gigantic
  /* 110px / 120px
  font-size: 6.875em
  line-height: 1.0909090909090908em

// Links
a
  color: $purple-2
  text-decoration: none

  &:visited
    color: $purple-2

  &:hover, &:active, &.active, &:hover:visited
    color: $purple-1

  &:focus
    outline: thin dotted

  &:hover, &:active
    outline: 0

// Headlines
h1, h2, h3, h4, h5, h6
  +custom-display

h1
  margin: 0.9230769230769231em 0 1.3846153846153846em
  +large

h2
  margin: 0.9230769230769231em 0 1.3846153846153846em
  +large

h3
  font-variant: small-caps
  text-transform: lowercase

p
  color: #666 //$gray-1

code
  +custom-mono

pre
  background: $gray-2
  padding: 1em
