<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
  <title>Polarblau</title>
  <meta content='' name='description' />
  <meta content='' name='author' />
  <meta content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' name='viewport' />
  <script src='http://use.typekit.com/vcm4vmt.js'></script>
  <script type='text/javascript'>
    //<![CDATA[
      try{Typekit.load();}catch(e){}
    //]]>
  </script>
  <script src='https://raw.github.com/jonikorpi/Golden-Grid-System/master/GGS.js'></script>
  <link href='/stylesheets/screen.css' rel='stylesheet' />
</head>
<body>
  <div id='container'>
    <header id='header'></header>
    <div id='main' role='main'>
      {{ content }}
    </div>
    <footer></footer>
  </div>
</body>
