!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title {{ page.title }} | Polarblau

    %meta(content="Full stack software solutions for the open web" name="description")
    %meta(content="Polarblau" name="author")
    %meta(content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport")

    %script(src="http://use.typekit.com/dzs0feh.js")
    :javascript
      try { Typekit.load(); } catch(e) {};

    %script(src="/javascripts/lib/highlight.pack.js")
    :javascript
      hljs.initHighlightingOnLoad();

    %link(href="/stylesheets/screen.css" rel="stylesheet")

  %body(class="posts {{ page.body_class }}")
    #container
      %header#header
        %h1
          %a(href="/" title="Home")
            Polarblau

      #main(role="main")
        %article
          %header
            %h2 {{ page.title }}
            %p.date {{ page.date | date_to_string }}
          {{ content }}

          %footer
            %nav
              %a(href="/blog.html" title="Blog") &laquo; All posts

      %footer#footer
        %a(rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/")
          %img(alt="Creative Commons License" src="/images/layout/footer/cc.png" width="66" height="20")
        Copy to learn.

