<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>{{ page.title }} | Polarblau</title>
    <meta content='Full stack software solutions for the open web' name='description'>
    <meta content='Polarblau' name='author'>
    <meta content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' name='viewport'>
    <script src='http://use.typekit.com/dzs0feh.js'></script>
    <script>
      try { Typekit.load(); } catch(e) {};
    </script>
    <script src='/javascripts/lib/highlight.pack.js'></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <link href='/stylesheets/screen.css' rel='stylesheet'>
  </head>
  <body class='posts {{ page.body_class }}'>
    <div id='container'>
      <header id='header'>
        <h1>
          <a href='/' title='Home'>
            Polarblau
          </a>
        </h1>
      </header>
      <div id='main' role='main'>
        <article>
          <header>
            <h2>{{ page.title }}</h2>
            <p class='date'>{{ page.date | date_to_string }}</p>
          </header>
          {{ content }}
          <footer>
            <nav>
              <a href='/blog.html' title='Blog'>&laquo; All posts</a>
            </nav>
          </footer>
        </article>
      </div>
      <footer id='footer'>
        <a href='http://creativecommons.org/licenses/by-nc/3.0/' rel='license'>
          <img alt='Creative Commons License' height='20' src='/images/layout/footer/cc.png' width='66'>
        </a>
        Copy to learn.
      </footer>
    </div>
  </body>
</html>
